@CHARSET "ISO-8859-1";


body {margin: 0; background-color: #262525; /*padding-top: 20px;*/color: #FFF;}
div {}
div#container, div#border, div#content {margin: 0;}
.clearfloat {clear: both; height: 0; font-size: 1px; line-height: 0px;}
div#container {width: 490px; /*height: 300px;*/ background-color: #211010; margin: auto; border: 1px solid #000; padding: 10px;}

div#border {
	width: 485px;
	/*height: 285px;*/
	background: #333030;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	border: 1px solid #000;
	background: #333030;
}

div#header {
	background: #262525;
	border-bottom: 1px solid #000;
	font-size: 30pt;
	font-variant: small-caps;
	vertical-align: middle;
	text-indent: 20px;
}
span#header {font-size: 18pt;}

div#content {background: #333030;}

div#footer {
	float: none;
	background: #262525;
	border-top: 1px solid #000;
	text-align: center;
	padding-bottom: 4px;
}

.bad_login {
	color: #ff1a00;
	font-weight: bold;
}

a.nav:link, a.nav:visited {
	color:#fff;
	text-decoration: none;
	width: 100%;
	display: block;
	border-left: 0;
}
a.footer:link, a.footer:visited {color: #CCC;}

/*div#container {width: 1000px; background-color: #211010; border: 1px solid #000; margin: auto; padding: 10px;}

div#border {border: 1px solid #000; background: #333030; }

div#header {
	padding-left: 10px;

}


div#left {
	width: 200px;
	height: auto;
	float: left;
	background: #999595;
}

div#right {
	padding: 20px;
	float: right;
	width: 756px;
	height: 100%;
	background: #333030;
	border-left: 1px solid #000;
}

div#footer {
	float: none;
	background: #262525;
	border-top: 1px solid #000;
}

div.nav {
	background: url("../img/inactive.png");
	width: auto;
	height: 20px;
	text-align: left;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
	text-indent: 5px;
}


div#contrib {border-bottom: none;}

a.nav:link, a.nav:visited {
	color:#fff;
	text-decoration: none;
	width: 100%;
	display: block;
	border-left: 0;
}

a.nav:hover {background: #fff; color: #000;}

*/